node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Google Services (e.g. APIs or Firebase)
google-services.json
GoogleService-Info.plist

# dotenv environment variables file
.env

# macOS
.DS_Store
